{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "plugins": ["jsx-a11y", "import", "@emotion"],
  "parserOptions": { "project": "./tsconfig.json" },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "react/require-default-props": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": ["dist", "public"],

  "overrides": [
    {
      "files": ["./*.js"],
      "extends": ["airbnb", "plugin:prettier/recommended", "plugin:import/recommended"]
    }
  ]
}
