{
  "extends": [
    "plugin:import/recommended",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import", "jsx-a11y", "@emotion"],
  "parserOptions": { "project": "./tsconfig.json" },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "react/require-default-props": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": ["dist", "public"],

  "overrides": [
    {
      "files": ["./*.js"],
      "extends": ["plugin:import/recommended", "airbnb", "plugin:prettier/recommended"],
      "parserOptions": { "project": null }
    },
    {
      "files": ["src/__test__/**/*.ts"],
      "rules": { "import/no-extraneous-dependencies": "off" }
    }
  ]
}
